@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root {
    --font-color-ondark: #E7DAE1;
    --font-color-onlight: #5B2333;
    --primary-light-color: #E7DAE1 ;
    --primary-dark-color: #5B2333 ;
    --button-color: #FFD700; 

    --headings-font: 'Roboto', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    --main-heading-font: 'Libre Baskerville', serif;
}

header, footer, h3 {
    background-color: var(--primary-light-color);
    color: var(--font-color-onlight);
}
header {
    font-family: var(--main-heading-font);
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
#header-image {
    width: 130px;
    height: 130px;
    margin: 1rem;
    margin-right: 3rem;
}
nav {
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-self: center;
    line-height: 2em;
    background-color: var(--secondary-color);
    font-family: var(--headings-font);
    flex-direction: column;
}
nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 20px;
    margin: 0 1em;
}
nav a:link, nav a:visited {
    color: var(--font-color-ondark);
}
nav a:hover {
    color: var(--font-color-onlight);
    /* background-color: var(--primary-color); */
    background-color: var(--button-color);
}

main {

    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main h2 {
    font-family: var(--headings-font);
    color: var(--font-color-onlight);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--primary-light-color);
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    width: 75%;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
}

section {
    font-family: var(--paragraph-font);
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, .1);
    margin-bottom: 1rem;
    margin: 1rem;
    padding: 1rem;
}
#light {
    background-color: var(--primary-light-color);
    color: var(--font-color-onlight)
}
#dark {
    background-color: var(--primary-dark-color);
    color: var(--font-color-ondark);
}
button {
    padding: 1rem;
    background-color: var(--button-color);
    border: 1px solid var(--primary-dark-color);
    border-radius: 20%;
}

ul {
    list-style: none;
}
