@media (min-width: 700px) {
	#menu {
		display: none; /* hide hamburger button */
	}

	nav a {
		flex-direction: row;
		text-align: center;
		display: block;
	}

	#menu-links {
		display: flex;
	}
	#hero img {
		width: 800px;
	}
	#first {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 1rem;
	}
	#slideshow-container img {
		width: 600px;
	}
	#slideshow-container picture {
		grid-row: 1/2;
		grid-column: 1/2;
	}
	#slideshow-container h2 {
		grid-row: 1/2;
		grid-column: 1/2;
		color: white;
		width: 600px;
		font-size: 36px;
		background-color: #5B2333;
		text-align: center;
	}
	#slideshow-buttons {
		width: 600px;
	}

	#calendar {
		align-self: start;
	}
	.event div:nth-child(2) {
		display: block;
	}

	#forecast-section {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.forecast-container div:first-child{
		font-weight: bold;
	}

	#discover-main {
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
	#discover-info {
		width: 80%;
	}
	.event {
		text-align: center;
	}
	#discover-gallery img {
		width: 700px;
	}
	#discover-gallery picture {
		grid-row: 1/2;
		grid-column: 1/2;
		width: 700px;
	}
	#discover-gallery h2 {
		grid-row: 1/2;
		grid-column: 1/2;
		color: white;
		width: 700px;
		font-size: 36px;
		background-color: #5B2333;
		text-align: center;
	}

	/* ----------- FORM ------------ */
	#join-main {
		display: grid;
		grid-template-columns: 2fr 1fr;
		width: 90%;
	}
	form {
		width: 50%;
	}
	#membership-details {
		padding: 1rem;
		padding-top: 3rem;
	}
	#membership-details fieldset{
		margin: 0 auto;
		width: 90%;
		height: fit-content;
	}

	/* -------- Directory ----------- */

	.list section {
	grid-template-columns: 300px repeat(auto-fit, minmax(150px, 1fr));
	}

}