@media (min-width: 700px) {
	#menu {
		display: none; /* hide hamburger button */
	}

	nav a {
		flex-direction: row;
		text-align: center;
		display: block;
	}

	#menu-links {
		display: flex;
	}
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
	#maps iframe {
		width: 500px;
		height: 450px;
	}
}